{{template "header"}}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Check out our latest events!
            </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We regularly have different celebrities and artists
                perform at the park. Come check out your favorite artist or group when they're around! New Events will
                show up below.</p>
        </div>
        <div class="flex flex-wrap -mx-4 -my-8">
            <div class="py-8 px-4 lg:w-1/3">
                <div class="h-full flex items-start">
                    <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                        <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Jul</span>
                        <span class="font-medium text-lg text-gray-800 title-font leading-none">18</span>
                    </div>
                    <div class="flex-grow pl-6">
                        <h2 class="tracking-widest text-xs title-font font-medium text-green-500 mb-1">Music</h2>
                        <h1 class="title-font text-xl font-medium text-gray-900 mb-3">Coldplay</h1>
                        <p class="leading-relaxed mb-5">Watch Coldplay live with thousands of other fans! There will
                            also be a meet & greet after the performance, so don't forget to bring a camera!</p>

                    </div>
                </div>
            </div>
            <div class="py-8 px-4 lg:w-1/3">
                <div class="h-full flex items-start">
                    <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                        <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Aug</span>
                        <span class="font-medium text-lg text-gray-800 title-font leading-none">01</span>
                    </div>
                    <div class="flex-grow pl-6">
                        <h2 class="tracking-widest text-xs title-font font-medium text-green-500 mb-1">Theatre</h2>
                        <h1 class="title-font text-xl font-medium text-gray-900 mb-3">The Book of Mormon</h1>
                        <p class="leading-relaxed mb-5">Check out the hit musical from the creators of TV series "South
                            Park". This will make you laugh, cry and much more, we assure you. Oh, and don't forget to
                            bring a towel!</p>
                    </div>
                </div>
            </div>
            <div class="py-8 px-4 lg:w-1/3">
                <div class="h-full flex items-start">
                    <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                        <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Aug</span>
                        <span class="font-medium text-lg text-gray-800 title-font leading-none">15</span>
                    </div>
                    <div class="flex-grow pl-6">
                        <h2 class="tracking-widest text-xs title-font font-medium text-green-500 mb-1">Entertainment
                        </h2>
                        <h1 class="title-font text-xl font-medium text-gray-900 mb-3">WWE Live Show</h1>
                        <p class="leading-relaxed mb-5">WWE is coming to Go Land with the World Heavyweight Champion,
                            Cody Rhodes, in the main event! He is facing the phenomenal one, AJ Styles. The match is
                            sure to be a banger, folks, and there will be an action packed show with a stacked card.
                            Book tickets now!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{template "footer"}}